{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Details of the event {{ event.name }}" />
        <meta name="author" content="Event Organizer" />
        <title>Event details - {{ event.name }}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
    <header class="bg-dark py-5" role="banner">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ event.name }}</h1>
            </div>
        </div>
    </header>

    <main class="py-5" role="main">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-6">
                    {% if event.image_url %}
                        <img class="img-fluid" src="{{ event.image_url }}" alt="Image of the event {{ event.name }}">
                    {% else %}
                        <img class="img-fluid" src="{% static 'default_book_image.jpg' %}" alt="Default image for the event {{ event.name }}">
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <p class="lead text-muted">{{ event.short_description }}</p>
                    <h2 class="display-7 fw-bolder">
                        {{ event.start_time|slice:":10" }}<br>  
                        {{ event.start_time|slice:"11:" }}
                    </h2>
                    <p class="lead text-muted">{{ event.location }}</p>
                    <div class="small mb-3 text-muted">{{ event.long_description }}</div>
                    
                    <p class="text-muted small">
                        <a class="btn btn-link" href="{{ event.registration_link }}" aria-label="Register for {{ event.name }}">Register</a>
                    </p>
                    
                    <p class="text-muted small">Duration: <strong>{{ event.duration }} hour{{ event.duration|pluralize }}</strong></p>

                    <div class="tags mt-4">
                        <h3 class="text-muted">Tags:</h3>
                        <ul class="list-unstyled">
                            {% for tag in event.tags %}
                                <li class="d-inline-block me-2">
                                    <span class="badge bg-secondary">{{ tag.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="d-flex mt-4">
                        <div class="text-center w-100">
                            <a class="btn btn-outline-dark" href="/" aria-label="Back to calendar">Back to calendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
