{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link href="{% static 'fullcalendar/packages/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar/packages/daygrid/main.css' %}" rel='stylesheet' />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Events calendar</title>
  </head>
  <body>
    
    <!-- Dodanie nagłówka poziomu 1 -->
    <header>
      <h1 class="sr-only">Events Calendar</h1> <!-- Ukryty nagłówek dla czytników ekranowych -->
    </header>

    <main>
      <div class="filter-container">
        <label for="tagFilter">Filter by Tag:</label>
        <select id="tagFilter" aria-label="Filter events by tag">
            <option value="">All</option>
            <option value="uws">uws</option>
            <option value="nauka">nauka</option>
            <option value="Tag3">Tag3</option>
        </select>
      </div>

      <div class="content">
        <div id='calendar' role="region" aria-label="Events Calendar"></div>
      </div>
    </main>
    
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <script src="{% static 'fullcalendar/packages/core/main.js'%}"></script>
    <script src="{% static 'fullcalendar/packages/interaction/main.js'%}"></script>
    <script src="{% static 'fullcalendar/packages/daygrid/main.js'%}"></script>

    {{ events|json_script:"events-data" }}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        const eventsData = JSON.parse(document.getElementById('events-data').textContent);
        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ['interaction', 'dayGrid'],
          defaultDate: new Date(),
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          events: eventsData,
          eventColor: "#212529",
          eventClick: function(info) {
            info.jsEvent.preventDefault(); 

            if (info.event.id) {
              const eventDetailUrl = `/events/${info.event.id}/`;

              window.location.href = eventDetailUrl;
            }
          }
        });

        calendar.render();

        document.getElementById('tagFilter').addEventListener('change', function() {
            const selectedTag = this.value;

            // Fetch filtered events from the new endpoint
            const filterUrl = selectedTag ? `/events/filter/?tag=${selectedTag}` : '/events/';
            fetch(filterUrl)
                .then(response => response.json())
                .then(data => {
                    calendar.removeAllEvents(); // Clear existing events
                    calendar.addEventSource(data); // Add new events based on the selected tag
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                });
        });

      });
    </script>

    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
